/* okp_html5.css - Formats BoardReader's HTML5 version of http://board.okayplayer.com/okp.php */

/*  'body' renders the contents of the <body> tag equal to the width and height of the webpage. 
    It also sets the background color of the webpage to white [#fff] */
body {
  margin: 0;
  background-color: #fff;
}

a {
  display: block;
}

/* Formats the links on the main page */